JLink*
archive.zip
*out.txt
*.out
*~*
.vs/*

sources/.vs/*
sources/generated/*

sources/Loader/Objects/*
sources/Loader/Listings/*
sources/Loader/Objects-Debug/*
sources/Loader/Listings-Debug/*
sources/Loader/DebugConfig/*
sources/Loader/RTE/*

sources/Panel/Objects/*
sources/Panel/Listings/*
sources/Panel/Objects-Debug/*
sources/Panel/Listings-Debug/*
sources/Panel/DebugConfig/*
sources/Panel/*.bin
sources/Panel/*.crc32
sources/Panel/RTE/*
